<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="five-columns">
            {%- for key in stats -%}
            {%- set item = stats[key] -%}
            <div class="five-columns__column">
              <div class="five-columns__column-content--{{ item.modifier_class }}">
                  <p class="five-columns__headline-stat">{{ item.display_stat }}</p>
                  <div class="five-columns__caption">{{ item.category | title }}</div>
              </div>
            </div>
            {%- endfor -%}
        </div>
    </div>
</div>