<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">
            {{ audit_criterion.account_audit_id.account_subscription_id.product_team_id.team_name }}:
            {{ audit_criterion.account_audit_id.account_subscription_id.account_name }}
            <span class="govuk-caption-m">
                {{ audit_criterion.account_audit_id.account_subscription_id.account_id }}
            </span>
        </h2>
        <h2 class="govuk-heading-s">
            {{ audit_criterion.criterion_id.title }}
        </h2>
        <p>{{ audit_criterion.criterion_id.description }}</p>
    </div>
</div>