<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
       <h2 class="govuk-heading-l">Resources analysed</h2>
       <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Account Name</th>
                    <th class="govuk-table__header">Account ID</th>
                    <th class="govuk-table__header">Active</th>
                    <th class="govuk-table__header">Latest Audit</th>
                    <th class="govuk-table__header">Issues Found</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for account in accounts %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ account.account_name }}</td>
                    <td class="govuk-table__cell--integer">{{ account.account_id }}</td>
                    <td class="govuk-table__cell">{{ account.active }}</td>
                    <td class="govuk-table__cell">{{ account.account_latest_audit.account_audit_id,date_completed }}</td>
                    <td class="govuk-table__cell--integer">{{ account.account_latest_audit.account_audit_id.issues_Found }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>