<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Check Results</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Check</th>
                    <th class="govuk-table__header--tag-fixed-centred">Status</th>
                    <th class="govuk-table__header--tag-fixed-centred">Issues</th>
                    <th class="govuk-table__header--tag-fixed-centred">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for item in audit_stats.criteria %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        {{ item.criterion_id.criterion_name }}
                    </td>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        <strong class="{{ 'govuk-tag__fixed-width--failed' if (item.failed > 0) else 'govuk-tag__fixed-width--passed' }}">
                            {{ "Fail" if item.failed > 0 else "Pass" }}
                        </strong>
                    </td>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        {{ item.failed }}
                    </td>
                    <td class="govuk-table__cell--tag-fixed-centred">...</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>