{%- set stats = status %}
{# include "components/5_column_status.html" #}

{% if audit_stats.all.failed == 0 %}
<div class="govuk-panel govuk-panel--confirmation">
  <h2 class="govuk-panel__title">
    Status: Passed
  </h2>
  <div class="govuk-panel__body">
    The account has passed all checks.
  </div>
</div>
{% else %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    Status: Failed
  </h2>
  <div class="govuk-error-summary__body">
    There are failed resources for some checks in this account. You can review the details below.
  </div>
</div>
{% endif %}