<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Check results
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#passed">
        Passed ({{ audit_stats.all.passed + audit_stats.all.ignored }})
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#failed">
        Failed ({{ audit_stats.all.failed }})
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="passed">
    <h2 class="govuk-heading-m">Passed resources</h2>
    {%- set required_status = 'passed' -%}
    {% include "components/audit_check_resources_list.html" %}
  </section>
  <section class="govuk-tabs__panel" id="failed">
    <h2 class="govuk-heading-m">Failed resources</h2>
    {%- set required_status = 'failed' -%}
    {% include "components/audit_check_resources_list.html" %}
  </section>
</div>