<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">Check</th>
            <th class="govuk-table__header--tag-fixed-centred">Resources</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for item in audit_stats.criteria|sort(attribute='criterion_id.criterion_name') %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                {{ item.criterion_id.criterion_name }}
            </td>
            <td class="govuk-table__cell--tag-fixed-centred">
                {#
                    In the database resources are recorded as ignored if the check rules do not apply but these
                    treated as passed on screen.
                 #}
                {%- if required_status == 'passed' set item_count = (item.passed + item.ignored)  -%}
                {%- if required_status == 'failed' set item_count = item.failed -%}
                {%- if item_count > 0 -%}
                <a href="{{base_path}}/check/{{item.id}}/{{required_status}}">{{ item_count }} {{ "resource" if (item_count == 1) else "resources" }}</a>
                {%- else -%}
                0 resources
                {%- endif -%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>