{%- set stats = status %}
{# include "components/5_column_status.html" #}

{% if audit_stats.all.failed == 0 %}
<div class="govuk-panel govuk-panel--confirmation">
  <h2 class="govuk-panel__title">
    Status: Passed
  </h2>
  <!--div class="govuk-panel__body">
    The account has passed all checks.
  </div-->
</div>
{% else %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    Status: Failed
  </h2>
  <div class="govuk-error-summary__body">
    There are failed resources for some checks in this account. You can review the details below.
  </div>
</div>
{% endif %}
{% if audit_stats.max_severity > 1 %}
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
       What are the check categories?
    </span>
  </summary>
  <div class="govuk-details__text">
    Checks have been classified into a number of categories.
      The highest priority results are in category 1.
      Check results in lower category classes are things which either
      represent a lower risk or which could be issues but require investigation to confirm.
  </div>
</details>