<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Resources</h2>
        <p>We have detected the following issues with this account.</p>

        <p>The details page shows information about why this has been flagged,
            how important we think it is
            and what we recommend you should do about it.</p>
    </div>
</div>
{%- for issue in issues -%}
<div class="govuk-grid-row govuk-!-margin-top-3 govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Status</th>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag__fixed-width--failed">{{ issue.status.status_name }}</strong>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Resource</th>
                    <td class="govuk-table__cell">
                        {{ issue.resource.resource_name }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">ID</th>
                    <td class="govuk-table__cell">
                        {% if issue.resource.resource_name != issue.resource.resource_id %}
                        {{ issue.resource.resource_id }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Region</th>
                    <td class="govuk-table__cell">{{ issue.resource.region }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Check</th>
                    <td class="govuk-table__cell">{{ issue.criterion.criterion_name }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Reason</th>
                    <td class="govuk-table__cell">{{ issue.compliance.annotation | safe }}</td>
                </tr>
                {% if exception_type != "none" %}
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        False positive?
                    </th>
                    <td class="govuk-table__cell">
                        {% if exception_type == "resource" %}
                        <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              When to make an exception
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            Exceptions are for edge-cases where the check rules do not apply for a specific resource.
                            You should not mark something as an exception if it is an issue which needs fixing but
                              you don't have time to fix right away.
                          </div>
                        </details>
                        <a href="{{base_path}}/resource/{{ issue.resource.id }}/exception" role="button" class="csw-team-list__cta-button">
                            Make an exception
                        </a>
                        {% endif %}
                        {% if exception_type == "allowlist" %}
                        <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                               When to add an allow-list
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            An allow-list is not the same an an exception. An allow list lets you add an entry to the
                                valid options for a check. An exception will pass this resource. An allow list will
                                pass any resource which currently fails for the same reason.
                          </div>
                        </details>
                        <a href="{{base_path}}/account/{{ issue.resource.account_audit_id.account_subscription_id.id }}/check/{{ issue.criterion.id }}/allowlist" role="button" class="csw-team-list__cta-button">
                            Add an allow-list
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <!--a href="{{ base_path }}/resource/{{ issue.resource.id }}" role="button" class="govuk-button">View details</a-->
    </div>
</div>
{%- endfor -%}