<h1 class="govuk-heading-l">What is this for?</h1>
<p>Cloud Security Watch is a tool aimed at highlighting
  common configurations in AWS which are not secure.</p>
<p>Examples of these things are security groups
  with critical ports open to the outside world or S3 buckets
  with read/write access open to anyone.</p>
<p>The aims of Cloud Security Watch are:</p>
<ul class="govuk-list">
  <li>To provide actionable and unambiguous warnings</li>
  <li>To provide clear remediation advice and instructions</li>
  <li>To remove false positives and allow for recording known exceptions</li>
</ul>
<h2 class="govuk-heading-m">Principle of least privilege</h2>
<p>To use the tool you have to grant us access to read your account configuration.
You do that by creating a role in IAM which trusts the lambda functions which run
our audit.</p>
<p>The role is defined to have the smallest set of permissions that allow it to run.
Generally those permissions all come from the read-only (Get, List, Describe) API
endpoints.</p>
<p>You can read the details of the granted permissions and how to set up a role to
enable the service using terraform on [GitHub](https://github.com/alphagov/csw-client-role).</p>