<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Issues</h2>
        {% for issue in issues %}
        <table class="govuk-table">
            <caption class="govuk-table__caption">
                Resource: {{ issue.resource.resource_name }})
            </caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Resource ID</th>
                    <td class="govuk-table__cell">
                        {% if issue.resource.resource_name != issue.resource.resource_id %}
                        ({{ issue.resource.resource_id }})
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Check</th>
                    <td class="govuk-table__cell">{{ issue.criterion.criterion_name }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Reason</th>
                    <td class="govuk-table__cell">{{ issue.compliance.annotation | safe }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Actions</th>
                    <td class="govuk-table__cell">
                        <a href="{{ base_path }}/resource/{{ issue.resource.id }}">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>