<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Product Teams</h1>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <th class="govuk-table__header--tag-fixed-centred">Status</th>
                    <th class="govuk-table__header--tag-fixed-centred">Issues</th>
                    <th class="govuk-table__header">Details</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for team_stats in summaries.teams %}
                {%- set team = team_stats.team -%}
                {%- set team_data = team_stats.summary.all -%}
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">{{ team.team_name }}</th>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        <strong class="{{ 'govuk-tag__fixed-width--passed' if team_data.accounts_failed == 0 else 'govuk-tag__fixed-width--failed' }}">
                            {{ "Pass" if team_data.accounts_failed == 0 else "Fail" }}
                        </strong>
                    </td>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        {%- if team_data.accounts_failed > 0 -%}
                        <a href="{{base_path}}/team/{{team.id}}/issues">
                            {{ team_data.issues_found }} {{ "issue" if (team_data.issues_found == 1) else "issues" }}
                        </a>
                        {%- else -%}
                        0 issues
                        {%- endif -%}
                    </td>
                    <td class="govuk-table__cell">
                        <a href="{{base_path}}/team/{{ team.id }}/status" role="button" class="csw-team-list__cta-button">
                            View status
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>