<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">Resource identifier</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <td class="govuk-table__cell">
                        {{ resource.resource_name }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">ID</th>
                    <td class="govuk-table__cell">
                        {{ resource.resource_id }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Region</th>
                    <td class="govuk-table__cell">
                        {{ resource.region }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">
            Status:
            <strong class="govuk-tag__fixed-width--failed">{{ status.status_name }}</strong>
        </h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">Check</h2>
        <p class="govuk-body">{{ criterion.criterion_name }}</p>

        <h2 class="govuk-heading-s">Reason flagged</h2>
        <p class="govuk-body">{{ compliance.annotation|safe }}</p>
        <p class="govuk-body">{{ criterion.description|safe }}</p>

        <h2 class="govuk-heading-s">How do I fix it?</h2>
        <p class="govuk-body">{{ criterion.how_do_i_fix_it|safe }}</p>

        <h2 class="govuk-heading-s">Why is it important?</h2>
        <p class="govuk-body">{{ criterion.why_is_it_important|safe }}</p>

    </div>
</div>