<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">Resource identifiers</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <td class="govuk-table__cell">
                        {{ resource.resource_name }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">ID</th>
                    <td class="govuk-table__cell">
                        {{ resource.resource_id }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Region</th>
                    <td class="govuk-table__cell">
                        {{ resource.region }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">Check</h2>
        <p class="govuk-body">{{ criterion.criterion_name }}</p>

        <h2 class="govuk-heading-s">Reason flagged</h2>
        <p class="govuk-body">{{ compliance.annotation|safe }}</p>
        <p class="govuk-body">{{ criterion.description|safe }}</p>

    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Add an exception</h2>
        <pre>
            {{ exception | tojson(4) }}
        </pre>
        <form>
            <div class="govuk-form-group {{ 'govuk-form-group--error' if exception.reason_has_error }}">
              <label class="govuk-label" for="exception-reason">
                  Why does this check not apply to this resource?
              </label>
              <span id="exception-reason-hint" class="govuk-hint">
                In general this is a reference for you and your team in the future when reviewing whether to extend or
                  remove this exception.
              </span>
              <textarea class="govuk-textarea"
                        id="exception-reason"
                        name="exception-reason"
                        rows="3"
                        aria-describedby="exception-reason-hint"
                        placeholder="Why not?"
                        value="{{exception.reason}}"></textarea>
            </div>

            <div class="govuk-form-group {{ 'govuk-form-group--error' if exception.date_has_error }}">
              <fieldset class="govuk-fieldset" aria-describedby="exception-expiry-hint" role="group">
                <legend class="govuk-label">
                  When should the exception expire?
                </legend>
                <span id="exception-expiry-hint" class="govuk-hint">
                  Expiry should be within 12 months.
                    You can review this and remove an exception or extend the expiry at any time.
                </span>
                <div class="govuk-date-input" id="exception-expiry">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="exception-expiry-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                             id="exception-expiry-day"
                             name="exception-expiry-day"
                             type="number"
                             pattern="[0-9]*"
                             placeholder="DD"
                             value="{{exception.expiry_day}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="exception-expiry-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                             id="exception-expiry-month"
                             name="exception-expiry-month"
                             type="number"
                             pattern="[0-9]*"
                             placeholder="MM"
                             value="{{exception.expiry_month}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="exception-expiry-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                             id="exception-expiry-year"
                             name="exception-expiry-year"
                             type="number"
                             pattern="[0-9]*"
                             placeholder="YYYY"
                             value="{{exception.expiry_year}}">
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="govuk-form-group govuk-!-margin-top-3">
                <button type="submit" class="govuk-button">
                  Save
                </button>
              </div>
            </div>
        </form>
    </div>
</div>