<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Add an exception</h2>
        <form action="./exception" method="post">
            <div class="govuk-form-group {{ 'govuk-form-group--error' if errors.reason }}">
              <label class="govuk-label" for="exception-reason">
                  Why does this check not apply to this resource?
              </label>
              <span id="exception-reason-hint" class="govuk-hint">
                In general this is a reference for you and your team in the future when reviewing whether to extend or
                  remove this exception.
              </span>

              {% if errors.reason %}
              {% for message in errors.reason %}
              <span id="exception-reason-error-{{loop.index}}" class="govuk-error-message">
                  {{ message }}
              </span>
              {% endfor %}
              {% endif %}

              <textarea class="govuk-textarea {{'govuk-textarea--error' if errors.reason }}"
                        id="exception-reason"
                        name="exception-reason"
                        rows="3"
                        aria-describedby="exception-reason-hint"
                        placeholder="Explain yourself">{{exception.reason}}</textarea>
            </div>

            <div class="govuk-form-group {{ 'govuk-form-group--error' if (errors.expiry_components or errors.expiry_date) }}">
              <fieldset class="govuk-fieldset" aria-describedby="exception-expiry-hint" role="group">
                <legend class="govuk-label">
                  When should the exception expire?
                </legend>
                <span id="exception-expiry-hint" class="govuk-hint">
                  Expiry should be within 12 months.
                    You can review this and remove an exception or extend the expiry at any time.
                </span>

                {% if errors.expiry_components %}
                {% for message in errors.expiry_components %}
                <span id="exception-expiry-components-error-{{loop.index}}" class="govuk-error-message">
                    {{ message }}
                </span>
                {% endfor %}
                {% endif %}

                {% if errors.expiry_date %}
                {% for message in errors.expiry_date %}
                <span id="exception-expiry-date-error-{{loop.index}}" class="govuk-error-message">
                    {{ message }}
                </span>
                {% endfor %}
                {% endif %}

                <div class="govuk-date-input" id="exception-expiry">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="exception-expiry-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{'govuk-input--error' if (errors.expiry_components or errors.expiry_date) }}"
                             id="exception-expiry-day"
                             name="exception-expiry-day"
                             type="number"
                             pattern="[0-9]*"
                             placeholder="DD"
                             value="{{exception.expiry_day}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="exception-expiry-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{'govuk-input--error' if (errors.expiry_components or errors.expiry_date) }}"
                             id="exception-expiry-month"
                             name="exception-expiry-month"
                             type="number"
                             pattern="[0-9]*"
                             placeholder="MM"
                             value="{{exception.expiry_month}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="exception-expiry-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4 {{'govuk-input--error' if (errors.expiry_components or errors.expiry_date) }}"
                             id="exception-expiry-year"
                             name="exception-expiry-year"
                             type="number"
                             pattern="[0-9]*"
                             placeholder="YYYY"
                             value="{{exception.expiry_year}}">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group {{ 'govuk-form-group--error' if errors.expiry_has_error }}">
              <div class="govuk-form-group govuk-!-margin-top-3">
                <button type="submit" class="govuk-button" name="mode" value="{{ 'update' if exception.id else 'create' }}">
                  {{ "Update exception" if exception.id else "Create exception" }}
                </button>
                {% if exception.id %}
                <button type="submit" class="govuk-button" name="mode" value="expire">
                  Expire now
                </button>
                {% endif %}
              </div>
            </div>
            <input type="hidden" name="id" value="{{ exception.id if exception.id else 0 }}"/>
            <input type="hidden" name="criterion_id" value="{{exception.criterion_id}}"/>
            <input type="hidden" name="account_subscription_id" value="{{exception.account_subscription_id}}"/>
            <input type="hidden" name="resource_persistent_id" value="{{exception.resource_persistent_id}}"/>
        </form>
    </div>
</div>