{% if resource['resource_compliance']['is_applicable'] %}
    {% if not resource['resource_compliance']['is_compliant'] %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Failed resource:  &quot;{{ resource['GroupName'] }}&quot; ({{ resource['resource_compliance']['resource_id'] }})</h4>
                <p class="govuk-body">{{ resource['resource_compliance']['annotation'] }}</p>
            </div>
            <div class="govuk-grid-column-one-half">
                <h5 class="govuk-heading-s">Why is it important?</h5>
                <p class="govuk-body">{{ criterion.why_is_it_important }}</p>
            </div>
            <div class="govuk-grid-column-one-half">
                <h5 class="govuk-heading-s">How do I fix it?</h5>
                <p class="govuk-body">{{ criterion.how_do_i_fix_it }}</p>
            </div>

            <div class="govuk-grid-column-full">
                <p class="debug">{{ resource | tojson }}</p>
            </div>
        </div>
    {% endif %}
{% endif %}
