<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>
            The following AWS accounts are being audited for this team.
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3  class="govuk-heading-m">Active accounts</h3>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <th class="govuk-table__header">Failures</th>
                    <th class="govuk-table__header--tag-fixed-centred">Status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for account_audit in team_summary.accounts %}
                {%- set item = account_audit.stats -%}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a href="{{base_path}}/account/{{account_audit.account.id}}/status">
                            {{ account_audit.account.account_name }}: {{ account_audit.account.account_id }}
                        </a>
                        <br/>Date of last audit: {{ account_audit.audit.date_started | datetime }}
                    </td>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        {%- if item.issues_found > 0 -%}
                        {{ item.issues_found }} {{ "failed resource" if (item.issues_found == 1) else "failed resources" }}
                        {%- else -%}
                        0 failed resources
                        {%- endif -%}
                    </td>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        <strong class="{{ 'govuk-tag__fixed-width--passed' if account_audit.passed else 'govuk-tag__fixed-width--failed' }}">
                            {{ "Pass" if account_audit.passed else "Fail" }}
                        </strong>
                    </td>
                </tr>
                {% endfor %}
                {% for account_audit in team_summary.unaudited_accounts %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        {{ account_audit.account.account_name }}: {{ account_audit.account.account_id }}
                    </td>
                    <td class="govuk-table__cell"/>
                    <td class="govuk-table__cell">
                        Unaudited
                    </td>
                </tr>
                {% endfor %}
            </tbody>
       </table>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>
            The following AWS accounts are not being audited.
            All active AWS accounts should be monitored.
            Accounts labelled <strong>Unmonitored</strong> need to be resolved.
            We should either be monitoring them or they should be suspended.
            There is a risk that a disused account which has not been suspended
            could be put to malicious use without our noticing because no-one is
            regularly using it.
        </p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3  class="govuk-heading-m">Switched off accounts</h3>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <th class="govuk-table__header">Status</th>
                    <th class="govuk-table__header">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for account_audit in team_summary.inactive_accounts %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        {{ account_audit.account.account_name }}: {{ account_audit.account.account_id }}
                    </td>
                    <td class="govuk-table__cell">
                        {{ 'Suspended' if account_audit.account.suspended else 'Unmonitored' }}
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="{{ 'govuk-tag__fixed-width--not-applicable' if account_audit.account.suspended else 'govuk-tag__fixed-width--failed' }}">
                            {{ 'None' if account_audit.account.suspended else 'Fix' }}
                        </strong>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>