<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Product Teams</h1>
        <p>
            The following teams have been setup to have their AWS accounts monitored.
        </p>
        <h2 class="govuk-heading-s">What is a team?</h2>
        <p>
            AWS accounts are assigned to teams and users are assigned to teams.
            Users can then see all the AWS accounts of all the teams they are assigned to.
            This can be used to manage permissions to separate access to production accounts
            or to separate people working on different projects.
        </p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <th class="govuk-table__header--tag-fixed-centred">Issues</th>
                    <th class="govuk-table__header--tag-fixed-centred">Status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% for team_stats in teams %}
                {%- set team = team_stats.team -%}
                {%- set team_data = team_stats.summary.all -%}
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        <a href="{{base_path}}/team/{{ team.id }}/status">
                            {{ team.team_name }}
                        </a>
                    </th>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        {%- if team_data.accounts_failed > 0 -%}
                        {{ team_data.issues_found }} {{ "issue" if (team_data.issues_found == 1) else "issues" }}
                        {%- else -%}
                        0 issues
                        {%- endif -%}
                    </td>
                    <td class="govuk-table__cell--tag-fixed-centred">
                        <strong class="{{ 'govuk-tag__fixed-width--passed' if team_data.accounts_failed == 0 else 'govuk-tag__fixed-width--failed' }}">
                            {{ "Pass" if team_data.accounts_failed == 0 else "Fail" }}
                        </strong>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>