{%- set stats = status %}
{# include "components/5_column_status.html" #}
<p>
    There are currently {{team_summary.all.accounts_passed }} accounts passing.
</p>
<p>
    There are currently a total of {{ team_summary.all.issues_found }} failed resources
    from {{ team_summary.all.accounts_failed }} failing accounts
    with {{ team_summary.all.accounts_unaudited }} unaudited
    and {{ team_summary.all.accounts_inactive }} switched off.
</p>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
       What do the different account statuses mean?
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>Passed - The audit ran successfully and no checks failed</li>
      <li>Failed - The audit ran successfully and at least 1 check failed</li>
      <li>Unaudited - We have not successfully run an audit for this account</li>
      <li>Switched off - The account is defined but deactivated so that audits are not attempted.
      This is typically during the on-boarding process where the role has been setup to audit
      some team accounts but not others</li>
    </ul>
  </div>
</details>