<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
       <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <th class="govuk-table__header">Date Audited</th>
                    <th class="govuk-table__header--tag-fixed-centred">Checks</th>
                    <th class="govuk-table__header--tag-fixed-centred">Passed</th>
                    <th class="govuk-table__header--tag-fixed-centred">Failed</th>
                    <th class="govuk-table__header--tag-fixed-centred">Issues</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {%- set item = team_summary.team -%}
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">{{ team.team_name }}</th>
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--all">{{ item.active_criteria }}</strong></td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--passed">{{ item.criteria_passed }}</strong></td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--failed">{{ item.criteria_failed }}</strong></td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--issues">{{ item.issues_found }}</strong></td>
                </tr>
                {% for account_audit in team_summary.accounts %}
                {%- set item = account_audit.stats -%}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ account_audit.account.account_name }}</td>
                    <td class="govuk-table__cell">{{ item.date_completed | datetime }}</td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--all">{{ item.active_criteria }}</strong></td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--passed">{{ item.criteria_passed }}</strong></td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--failed">{{ item.criteria_failed }}</strong></td>
                    <td class="govuk-table__cell--tag-fixed-centred"><strong class="govuk-tag__fixed-width--issues">{{ item.issues_found }}</strong></td>
                </tr>
                {% endfor %}
                {% for account_audit in team_summary.unaudited_accounts %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ account_audit.account.account_name }}</td>
                    <td class="govuk-table__cell">None</td>
                    <td class="govuk-table__cell"/>
                    <td class="govuk-table__cell"/>
                    <td class="govuk-table__cell"/>
                    <td class="govuk-table__cell"/>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>