{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% include "components/breadcrumbs.html" %}

    {% include "components/audit_header.html" %}

    <p class="govuk-body-s">
      Generally if everything's green - everything's good. You might want to check that the total number of things
      defined in your accounts hasn't changed unexpectedly.
    </p>

    {% include "components/audit_status.html" %}

    {% include "components/audit_checks.html" %}

  </main>
</div>
{% endblock %}
