{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% include "components/breadcrumbs.html" %}

    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
            {{ account.account_name }}
        </span>
        Account audit history
    </h1>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Audit date</th>
                <th class="govuk-table__header">Completion</th>
                <th class="govuk-table__header">Status</th>
                <th class="govuk-table__header govuk-table__header--numeric">Resources</th>
                <th class="govuk-table__header govuk-table__header--numeric">Issues</th>
                <th class="govuk-table__header">Details</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for audit_data in audit_history %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ (audit_data.audit.date_completed if audit_data.audit.date_completed else audit_data.audit.date_updated) | datetime }}</td>
                <td class="govuk-table__cell">{{ "Completed" if audit_data.audit.date_completed else "Incomplete" }}</td>
                <td class="govuk-table__cell--tag-fixed-centred">
                    <strong class="{{ 'govuk-tag__fixed-width--passed' if (audit_data.audit.issues_found == 0) else 'govuk-tag__fixed-width--failed' }}">
                        {{ "Pass" if (audit_data.audit.issues_found == 0) else "Fail" }}
                    </strong>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">{{ audit_data.stats.all.resources }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">{{ audit_data.audit.issues_found }}</td>
                <td class="govuk-table__cell">
                    <a href="{{base_path}}/account/{{account_audit.account.id}}/history/{audit_data.audit.id}" role="button" class="csw-team-list__cta-button">
                        View details
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </main>
</div>
{% endblock %}
