{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="grid-row legal-content">
            <div class="column-two-thirds">
                <header class="page-heading">
                    <h1 class="govuk-heading-l">
                        Cookies
                    </h1>
                </header>
                <p>
                    This application puts small files (known as &lsquo;cookies&rsquo;) on to your computer.
                </p>

                <p>
                    These cookies are used to:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Link your browser session to your login</li>
                    </ul>
                </p>

                <h2 class="govuk-heading-m">How cookies are used</h2>

                <h3 class="govuk-heading-s">Session cookies</h3>

                <p>
                    We store session cookies on your computer to help keep your information secure while you use the service.
                </p>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Purpose</th>
                            <th scope="col" class="govuk-table__header">Expires</th>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">session</td>
                            <td class="govuk-table__cell">Stores encrypted session data</td>
                            <td class="govuk-table__cell">When you close your browser</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  </main>
</div>
{% endblock %}