<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#0b0c0c" />

  <link rel="shortcut icon" href="{{ asset_path }}/govuk-frontend/assets/images/favicon.ico" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}/govuk-frontend/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_path }}/govuk-frontend/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ asset_path }}/govuk-frontend/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset_path }}/govuk-frontend/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ asset_path }}/govuk-frontend/assets/images/govuk-apple-touch-icon.png">

  <!--[if !IE 8]><!-->
  <link href="{{ asset_path }}/cloud-security-watch.css" rel="stylesheet" />
  <!--<![endif]-->

  <!--[if IE 8]>
    <link href="{{ asset_path }}/cloud-security-watch-ie8.css" rel="stylesheet" />
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="{{ asset_path }}/html5-shiv/html5shiv.js"></script>
  <![endif]-->

  <meta property="og:image" content="{{ asset_path }}/govuk-frontend/assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body ">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <div id="global-cookie-message" class="govuk-width-container govuk-!-padding-top-2">
    <p class="govuk-body-s">::{{ route }}:: This application uses manage your login. <a href="{{ base_path }}/cookies">Find out more about cookies</a></p>
  </div>

  {% block header %}
  {% include "components/header.html" %}
  {% endblock %}

  {% block phase %}
  {% include "components/phase_banner.html" %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% include "components/footer.html" %}

  <!--script src="{{ asset_path }}/govuk-frontend/all.js"></script-->
  <script src="{{ asset_path }}/dist.js"></script>
  <script>
    window.GOVUKFrontend.initAll()

  </script>
</body>

</html>