{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% include "components/breadcrumbs.html" %}
    <div class="govuk-grid-row govuk-!-margin-top-3 govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">My exceptions</h1>
        <p>
          This view shows any custom rules you have set for the audit of your accounts.
            Those can be excluding a specified resource from a particular check or adding
            allowlists to broaden the valid options
        </p>

        {%- set previous_team = "" -%}
        {%- set previous_account = "" -%}
        {%- set previous_criterion = "" -%}

        {% for exception in exceptions %}
        {% if exception.account_subscription_id.product_team_id.team_name != previous_team %}
        <h2 class="govuk-heading-m">
            {{ exception.account_subscription_id.product_team_id.team_name }}
        </h2>
        {% endif %}

        {% if exception.account_subscription_id.account_name != previous_account %}
        <h3 class="govuk-heading-m">
            Account: {{ exception.account_subscription_id.account_name }}
            <span class="govuk-caption-m">
                {{ exception.account_subscription_id.account_id }}
            </span>
        </h3>
        {% endif %}

        {% if exception.criterion_id.criterion_name != previous_criterion %}
        <h4 class="govuk-heading-s">
          Check: {{ exception.criterion_id.criterion_name }}
        </h4>
        {% endif %}

        {%- set resource = exception.audit_resource_id -%}
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Resource</th>
                    <td class="govuk-table__cell">
                        {{ resource.resource_name }}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">ID</th>
                    <td class="govuk-table__cell">
                        {% if resource.resource_name != resource.resource_id %}
                        {{ resource.resource_id }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Region</th>
                    <td class="govuk-table__cell">{{ resource.region }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Reason</th>
                    <td class="govuk-table__cell">{{ exception.reason }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        Edit
                    </th>
                    <td class="govuk-table__cell">
                        <a href="{{base_path}}/resource/{{ resource.id }}/exception" role="button" class="csw-team-list__cta-button">
                            Edit exception
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        {%- set previous_team = exception.account_subscription_id.product_team_id.team_name -%}
        {%- set previous_account = exception.account_subscription_id.account_name -%}
        {%- set previous_criterion = exception.criterion_id.criterion_name -%}
        {% endfor %}
      </div>
    </div>
  </main>
</div>
{% endblock %}