{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% include "components/breadcrumbs.html" %}
    <div class="govuk-grid-row govuk-!-margin-top-3 govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">My exceptions</h1>

        <p>
          This view shows any custom rules you have set for the audit of your accounts.
            Those can be excluding a specified resource from a particular check or adding
            allowlists to broaden the valid options
        </p>
        <div class="govuk-tabs" data-module="tabs">
          <h2 class="govuk-tabs__title">
            Exeption types
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#my-resource-exceptions">
                Resource exceptions
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#my-allow-lists">
                Custom allow lists
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="my-resource-exceptions">
            <h2 class="govuk-heading-m">Resource exceptions</h2>
            {% include "components/my_resource_exceptions.html" %}
          </section>
          <section class="govuk-tabs__panel" id="my-allow-lists">
            <h2 class="govuk-heading-m">Custom allow lists</h2>
            {% include "components/my_allow_lists.html" %}
          </section>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}