{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% include "components/breadcrumbs.html" %}

    <h1 class="govuk-heading-l">My exceptions</h1>
    <p>
      This view shows any custom rules you have set for the audit of your accounts.
        Those can be excluding a specified resource from a particular check or adding
        allowlists to broaden the valid options
    </p>

    {%- set previous_team = "" -%}
    {%- set previous_account = "" -%}
    {% for exception in exceptions %}
    {% if exception.account_subscription_id.product_team_id.team_name != previous_team %}
    <h2 class="govuk-heading-m">
        {{ exception.account_subscription_id.product_team_id.team_name }}
    </h2>
    {% endif %}

    {% if exception.account_subscription_id.account_name != previous_account %}
    <h3 class="govuk-heading-m">
        {{ exception.account_subscription_id.account_name }}
        <span class="govuk-caption-m">
            {{ exception.account_subscription_id.account_id }}
        </span>
    </h3>
    {% endif %}

    <p>{{ exception.resource_persistent_id }}</p>
    {%- set previous_team = exception.account_subscription_id.product_team_id.team_name -%}
    {%- set previous_account = exception.account_subscription_id.account_name -%}
    {% endfor %}

  </main>
</div>
{% endblock %}