{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <p class="govuk-main-wrapper " id="main-content" role="main">
    <h1 class="govuk-heading-l">Request access</h1>
      <p>You do not currently have a profile defined to access this tool.</p>
      <p>If you think you should have access contact the
          <a target="slack" href="https://gds.slack.com/messages/cyber-security-help/">#cyber-security-help</a></p>
      Slack channel or just come and talk to us.</p>
  </main>
</div>
{% endblock %}