{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You have not yet been granted access to this tool.
      </strong>
    </div>

    {% include "components/request_access.html" %}
  </main>
</div>
{% endblock %}