{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% if back_link %}
    <a href="{{ back_link }}" class="govuk-back-link">Back</a>
    {% endif %}

    <h1 class="govuk-heading-l">Resource exception</h1>
    {%- if status_message is defined -%}
    {% include "components/status_message.html" %}
    {%- endif -%}

    {% include "components/resource_context.html" %}
    {% include "components/resource_allowlist_context.html" %}
    {% include "components/resource_allowlist_form.html" %}
  </main>
</div>
{% endblock %}
