{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% if back_link %}
    <a href="{{ back_link }}" class="govuk-back-link">Back</a>
    {% endif %}

    <h1 class="govuk-heading-l">Resource exception</h1>

    {% include "components/resource_exception_context.html" %}
    {% if mode == "create" %}
    {% include "components/resource_exception_create.html" %}
    {% elif mode == "review" %}
    {% include "components/resource_exception_review.html" %}
    {% endif %}
  </main>
</div>
{% endblock %}
