{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container" id="app">
  <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-tabs" data-module="tabs">
          <h1 class="govuk-tabs__title">
            Statistics
          </h1>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#current">
                Current
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#daily">
                Daily
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#monthly">
                Monthly
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="current">
            <h2 class="govuk-heading-m">Current</h2>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="chart-wrapper"
                         type="gauge"
                         series="rows"
                         x-axis="x"
                         y-axis="y"
                         above="false"
                         ismultiple="false"
                    >
                        <table class="govuk-table">
                            <caption class="govuk-table__caption">Average failed resources</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header">
                                        Statistic
                                    </th>
                                    <th class="govuk-table__header govuk-table__header--numeric">
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    {% for summary in current.summary %}
                                    <th class="govuk-table__header">
                                        Percent
                                    </th>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">
                                        {{ (summary.avg_percent_fails_per_account * 100) | round(1, 'floor') }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="chart-wrapper"
                         type="gauge"
                         series="rows"
                         x-axis="x"
                         y-axis="y"
                         above="false"
                         ismultiple="false"
                    >
                        <table class="govuk-table">
                            <caption class="govuk-table__caption">Accounts audited</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header">
                                        Statistic
                                    </th>
                                    <th class="govuk-table__header govuk-table__header--numeric">
                                        Value
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    {% for summary in current.summary %}
                                    <th class="govuk-table__header">
                                        Percent
                                    </th>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">
                                        {{ (summary.percent_accounts_audited * 100) | round(1, 'floor') }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </section>
          <section class="govuk-tabs__panel" id="daily">
            <h2 class="govuk-heading-m">Daily</h2>

          </section>
          <section class="govuk-tabs__panel" id="monthly">
            <h2 class="govuk-heading-m">Monthly</h2>

          </section>
      </div>
  </main>
</div>
{% endblock %}