{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% include "components/breadcrumbs.html" %}

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
      {{ team.team_name }}
      </span>
      Team status
    </h1>

    <p class="govuk-body-s">
      Generally if everything's green - everything's good. You might want to check that the total number of things
      defined in your accounts hasn't changed unexpectedly.
    </p>
    <p class="govuk-body-s">
      If something is red you can go straight to the issues link below or you can navigate through the view details
      buttons to drill down to precisely where the invalid configurations are.
    </p>

    {% include "components/team_status.html" %}

    <h2 class="govuk-heading-m">
      Team accounts
    </h2>

    {% include "components/team_accounts.html" %}

  </main>
</div>
{% endblock %}
