{% extends "govuk_template.html" %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    {% include "components/breadcrumbs.html" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                {{ team.team_name }} Status
            </h1>

            <p>Issues are grouped by AWS account below.</p>
        </div>
    </div>

    {% for account_list in account_issues %}

      <h2 class="govuk-heading-m">{{ account_list.account.account_name }}</h2>

      {%- set issues = account_list.resources -%}
      {% include "components/issues_list.html" %}

    {% endfor %}

  </main>
</div>
{% endblock %}
